# Node
node_modules/
.env
.env.local
npm-debug.log

# Sistema
.DS_Store
*.log

# Backups locales
backup-*
*.tar.gz
config/serviceAccountKey.json
config/serviceAccountKey.json
**/serviceAccountKey.json
api/configuracion/serviceAccountKey.json
